
<div class="container-fluid" style="padding: 0 !important;">
  <h3 style="color:#333333;margin: 10px;">Templates</h3>
  <div class="row" style="flex-wrap: wrap;padding: 20px;">

    <div  style="width:240px;border: 2px dashed silver;border-radius: 4px;padding: 10px;margin: 10px; cursor:pointer;">
      <div style="text-align: center;margin-top: 2em;color: #666666;margin-bottom:2em;">Add. . .</div>
    </div>


    <div  style="width:240px;border: 1px solid silver;border-radius: 4px;padding: 10px;margin: 10px; cursor:pointer;">
      <div style="text-align: center;margin-top: 2em;color: #666666;margin-bottom:2em;">Active Diagnosis</div>
    </div>


    <div  style="width:240px;border: 1px solid silver;border-radius: 4px;padding: 10px;margin: 10px; cursor:pointer;">
      <div style="text-align: center;margin-top: 2em;color: #666666;margin-bottom:2em;">Active Medication</div>
    </div>

    <div  style="width:240px;border: 1px solid silver;border-radius: 4px;padding: 10px;margin: 10px; cursor:pointer;">
      <div style="text-align: center;margin-top: 2em;color: #666666;margin-bottom:2em;">Procedure in the past year</div>
    </div>


  </div>
</div>