
@import "../vars";

.product-banner {
    font-size: 22px;
    color: #007d8a;
    text-shadow: 0 1px 0 #ffffff;

    padding: 10px;
    color: #007d8a;
    border-bottom:3px solid #999999;
    background-image: linear-gradient(to bottom, #ffffff, #cccccc);
}


