
@import "../../vars";

.item-card {

    width:240px;
    border: 1px solid silver;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;

    cursor: pointer;
    &:hover {
        border-color: $ux-blue-3;
        background: $ux-blue-1;
    }

    & * div {

        @include no-select();
    }
}