
@import "vars";


/*
html, body {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
}
*/

body {
    padding-top:95px;
}

.menu-item-link-no-select {
    cursor: default;
    @include no-select();
}


.flex-fixed-child {
    flex:none;
    background-color:$ux-grayscale-7;
    color:white;
}



//bootstrap overrides

/* this will hide the caret for a dropdown button. */
.dropdown-toggle-plain::after {
    content: none !important;
}

.btn-secondary-plain {
    border: none !important;
}

.btn-secondary-plain {
    border: none !important;

}

.btn-secondary-plain-round {
    border: none !important;
    border-radius: 23px;
}


.list-group-item-squared {
    &:first-child, &:last-child {
        border-radius: 0 !important;
    }
}


/* bootstrap override */
.nav-pills {

    .nav-link {
        border-radius: 0;
        color: $ux-blue-3;

        &.active {
            background-color: $ux-blue-3;
            color: white;
        }
    }
}


a {
    color: $ux-blue-3;

    &:hover {
        color: $ux-blue-4
    }
}




/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 105px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar .nav {
    margin-bottom: 20px;
}

.sidebar .nav-item {
    width: 100%;
}

.sidebar .nav-item + .nav-item {
    margin-left: 0;
}

.sidebar .nav-link {
    border-radius: 0;
}

